@import '../../../../styles/colors';

.trelloList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $blueLight;
    border-radius: 1rem;
    width: 260px;
    margin: 0.5rem;
    padding: 0.5rem;
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h4 {
            padding-left: 0.5em;
        }
    }
}