@import '../../../../styles/colors';

.trelloList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $blueLight;
    border-radius: 1rem;
    width: 260px;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
}