@import '../../../../styles/colors';

.trelloActionButton{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    opacity: 0.5;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    background: inherit;
    cursor: pointer;
    border-radius: 0.3rem;
    p {
        padding-left: 0.5rem;
    }

    &:hover {
        background: rgba(0, 0, 0, .2);
    }
}

.__list {
    opacity: 1;
    color: $white;
    background: rgba(0, 0, 0, .15);
    width: 260px;
    margin: 0.5rem;
    padding-left: 0.5rem;
}