@import '../../styles/colors';

.navigation {
    position: fixed;
    width: 18.75rem;
    height: 100%;
    background: $blue;
    transition: 0.5s;
    overflow: hidden;

    &__icon {
        position: relative;
        display: block;
        min-width: 3.75rem;
        height: 3.75rem;
        line-height: 3.75rem;
        text-align: center;
        font-size: 1.5rem;
    }

    &__title {
        position: relative;
        display: block;
        padding: 0 0.625rem;
        height: 3.75rem;
        line-height: 3.75rem;
        white-space: nowrap;
    }

    ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        li {
            position: relative;
            width: 100%;
            list-style: none;

            &:hover {
                background: $blueLight;
            }

            &:nth-child(1) {
                margin-bottom: 1.25rem;

                &:hover {
                    background: transparent;
                }
            }

            a {
                position: relative;
                display: block;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: $white;
            }
        }
    }

    @media screen and (max-width: 992px) {
        left: -18.75rem;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
}

.active {
    width: 3.75rem;

    @media screen and (max-width: 992px) {
        left: 0;
        width: 18.75rem;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
        left: 0;
    }
}