@import '../../../styles/colors';

.home {
    position: absolute;
    width: calc(100% - 18.75rem);
    left: 18.75rem;
    min-height: 100vh;
    background: $grayLight;
    transition: 0.5s;

    .topbar {
        background: $white;
        height: 3.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__toggle {
            position: relative;
            width: 3.75rem;
            height: 3.75rem;
            background: $red;
            cursor: pointer;
            &::before{
                content: '\f0c9';
                position: absolute;
                width: 100%;
                height: 100%;
                line-height: 3.75rem;
                font-size: 1.5rem;
            }
        }

        &__user {
            width: 3.75rem;
            height: 3.75rem;
        }
    }
}