@import '../../../../styles/colors';


.trelloCard {
    background-color: $white;
    border-radius: 0.5rem;
    width: 250px;
    margin: 0.5rem;
    padding: 0.5rem;
    padding-right: 1.8rem;
    position: relative;
    &__menu {
        position: absolute;
        right: 0;
        top: 0;
    }
}