@import './styles/colors';


.container {
  position: relative;
  width: 100%;
}

.page {
  position: absolute;
  width: calc(100% - 18.75rem);
  left: 18.75rem;
  min-height: 100vh;
  background: $grayLight;
  transition: 0.5s;

  @media screen and (max-width: 992px) {
    width: 100%;
    left: 0;
  }

  &__active {
    width: calc(100% - 3.75rem);
    left: 3.75rem;

    @media screen and (max-width: 992px) {
      width: calc(100% - 18.75rem);
      left: 18.75rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .home .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .home .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
}