.container {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .home .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .home .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
}